@import "../../../styles/base/base";
.watch-list-item-container {
    display:flex;
    justify-content: space-between;
    font-size: $normal-font-size;
    margin-top:20px;
    padding-bottom:10px;
    border-bottom:1px solid gray;

    .logo {
        max-width: 80px;
        height:60px;
    }

    .company-name-container {
        .company-name {
            margin: 10px;
            color:rgb(6, 72, 6);
            font-weight:bold;
        }
    }

    .price {
        margin: 10px;
    }

    .remove-button-container {
        margin-top: 10px;

        .remove-button {
            width:15px;
            height:15px;
        }
    }
}

