// Break points
$medium-breakpoint: 600px;
$large-breakpoint: 960px;

// Font sizes
$small-font-size: 12px;
$font-size: 16px;
$normal-font-size: 18px;
$large-font-size: 24px;

// Fonts
$font-family: 'Roboto', sans-serif;