.quote-container {

}

.company-quote-label {

}

.quote-item {

}

.quote-high {
    color: green;
}

.quote-low {
color: red;
}
.quote-open {
color: blue;
}
.quote-close {
    color: black;
}
.quote-prev {
color: darkgrey;
}