
@import "../../styles/base/base";
.market-news-container {
    display: flex;
    margin: 15px auto;
    justify-content: center;
}  

.market-news-title {
    margin-top: 20px;
    margin-bottom:20px;
    border-bottom:1px solid gray;
}
