@import "../../styles/base/base";
.navbar {
    background-color:rgb(69, 50, 101);

    .NavLink {
        color:white;
    }

    .brand {
        color:rgb(246, 237, 202);
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }

    
}
