@import "../../styles/base/base";
.navbar {
    background-color:rgb(68, 74, 157);

    .NavLink {
        color:white;
    }

    .brand {
        color:rgb(237, 237, 25);
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }

    
}
