@import "../_variables.scss";

fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

input {
    margin: 0;

    color: inherit;
    font: inherit;
    font-family: $font-family;
    font-size: $small-font-size + 2;
    line-height: normal;

    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}